.elements {
  padding-bottom: 48px;
}
@media screen and (min-width: 1280px) {
  .elements {
    padding-bottom: 66px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
  }
}
